* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5efe6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  font-family: "Arial", sans-serif;
}

.container {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100;
  overflow: hidden;
  max-width: 600px;
  position: relative;
}
/* Screens */
.screen {
  display: none;
  padding: 2rem;
  text-align: center;
}
.screen.active {
  display: block;
}

/* Start screen */

#start-screen h1 {
  margin-bottom: 20px;
  color: #e86a33;
  font-size: 2.5rem;
}

#start-screen p {
  margin-bottom: 20px;
}

.quiz-header {
  margin-bottom: 20px;
}

#question-text {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn {
  background-color: #f8f0e5;
  color: #333;
  border: 2px solid #e86a33;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.answer-btn:hover {
  background-color: #eadbc8;
  color: white;
  cursor: pointer;
}

.answer-btn.correct {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.answer-btn.incorrect {
  background-color: #f44336;
  color: white;
  border-color: #f44336;
}

.progress-bar {
  height: 10px;
  background-color: #f8f0e5;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 100%;
  background-color: #e86a33;
  width: 0%;
  transition: width 0.3s ease;
}

/* result screen */

#result-screen h1 {
  color: #e86a33;
  margin-bottom: 30px;
}

#result-info {
  border-radius: 10px;
  padding: 20px;
  color: #333;
  margin-bottom: 1rem;
}

#result-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e86a33;
}

button {
  background-color: #e86a33;
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d45c2a;
}

/* Responsive design */

@media (max-width: 500px) {
  .screen {
    padding: 1rem;
    font-size: 1rem;
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
